.container-dashboard {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

.btn-logout {
    display: inline-block;
    background: #c70606;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.btn-logout:hover {
    background: #a70404;
}



.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}


label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #333;
}


input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: border-color 0.2s;
}

input:focus, select:focus {
    border-color: #ff5722;
    outline: none;
}

input:invalid {
    background-color: rgb(255, 212, 210);
}


.btn-submit {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: linear-gradient(45deg, #ff5722, #ff8c42);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-submit:hover {
    background: linear-gradient(45deg, #e64a19, #ff7a1a);
}

.btn-submit:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed; 
    opacity: 0.7;
    border: 1px solid #999999;
}

