@import url('base.css');
@import url('nav.css');
@import url('text.css');
@import url('dashboard.css');
@import url('stats.css');
@import url('login.css');
@import url('chart.css');
@import url('resultbox.css');
@import url('predizione.css');